// Body
$body-bg: #FDFEFF;

// Typography
$font-family-sans-serif: 'Fredoka One', cursive;
$parrafos-font-family: 'Didact Gothic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #EB6864;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #F66D9B;
$red: #E3342F;
$orange: #F6993F;
$yellow: #FFED4A;
$green: #38C172;
$teal: #4DC8B5;
$cyan: #6CB2EB;